@page "/stix-pattern"

<h1>STIX Pattern</h1>

<p>Patterns for STIX 2.x spec</p>

<div class="row">
  <div class="col-md-4">
    <form>
      <div class="form-group">
        
        <label for="base-url">Pattern Validator base URL</label>
        <input class="form-control" id="base-url">

        <label for="spec-version">Spec Version</label>
        <input class="form-control" id="spec-version">

        <label for="json-for-validation">JSON to validate:</label>
        <input class="form-control" id="json-for-validation">

        <label for="validation-result">Validation Result:</label>
        <input class="form-control" id="validation-result">

      </div>
    </form>
  </div>
</div>



@functions {

}
