@page "/stix-faker"

<h1>STIX Faker</h1>

<p>Fake Data Generator for STIX 2.x spec</p>

<div class="row">
  <div class="col-md-4">
    <form>
      <div class="form-group">
        
        <label for="base-url">Faker base URL</label>
        <input class="form-control" id="base-url">

        <label for="spec-version">Spec Version</label>
        <input class="form-control" id="spec-version">

        <label for="faker-config">Faker Json Config:</label>
        <input class="form-control" id="faker-config">

        <label for="faker-data">Generated Fake Data:</label>
        <input class="form-control" id="faker-data">

      </div>
    </form>
  </div>
</div>



@functions {

}
