@page "/taxii-client"

<h1>TAXII Client</h1>

<p>HTTP Client for Taxii Server</p>

<div class="row">
  <div class="col-md-4">
    <form>
      <div class="form-group">
        
        <label for="base-url">TAXII base URL</label>
        <input class="form-control" id="base-url">

      </div>
    </form>
  </div>
</div>



@functions {

}
