<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">STIX/TAXII Dev Tools</a>
    <button class="navbar-toggler" onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" onclick="@ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="stix-faker">
                <span class="oi oi-document" aria-hidden="true"></span> STIX Faker
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="stix-graph">
                <span class="oi oi-grid-four-up" aria-hidden="true"></span> STIX Graph
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="stix-validator">
                <span class="oi oi-eye" aria-hidden="true"></span> STIX Validator
            </NavLink>
        </li>
                <li class="nav-item px-3">
            <NavLink class="nav-link" href="taxii-client">
                <span class="oi oi-globe" aria-hidden="true"></span> TAXII Client
            </NavLink>
        </li>
                <li class="nav-item px-3">
            <NavLink class="nav-link" href="stix-pattern">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> STIX Pattern Tester
            </NavLink>
        </li>
    </ul>
</div>

@functions {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
